# Build artifacts
target/
build/

# Maven
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

# Gradle
.gradle/
build/
*.*.log
!gradle-wrapper.jar
!gradle-wrapper.properties
!gradlew
!gradlew.bat

# IDE-specific files
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log
logs/
