<div th:fragment="series-category-dropdown">
    <label for="series-category-select">Select Series Category:</label>
    <select id="series-category-select" class="form-select w-auto d-inline-block"
            hx-get="/seriesCategoryPage?page=0&size=20"
            hx-target="#series-list-container"
            hx-swap="innerHTML"
            name="categoryId">
        <option value="">-- Select Series Category --</option>
        <option th:each="cat : ${categories}" th:value="${cat.categoryId}" th:text="${cat.categoryName}"></option>
    </select>
</div>